#list-student {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-left: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

#list-student section {
  max-width: 700px;
  width: 700px;
}